{% extends "layout.html.j2" %}
{% block page %}Add user{% endblock %}
{% block script_src %}src="../static/javascript/newuser.js"{% endblock %}
{% block content %}

<div class="container">
	<section class="hero">
		<div class="container has-text-centered">
			<h1 class="title">Add User to {{ group.name }}</h1>
		</div>
	</section>

	<section class="section">
		<div class="columns">
			<div class="column is-one-third is-offset-one-third">
				<div class="box">
					<form action="{{ url_for('groups.add_user', id=group.id) }}" method="POST">
						<div class="field">
							<label class="label">Username</label>
							<div class="control">
								<input class="input" type="text" name="username">
							</div>
						</div>
                        <div class="field">
							<label class="label">Is Owner</label>
							<div class="control">
								<input class="checkbox" type="checkbox" name="is_owner">
							</div>
						</div>
						<input id="submit" type="submit" value="Add">
					</form>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}
